.nav-link{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0 !important;
}
.navbar-toggler{
    border: 0px;
}
.navbar-toggler-icon{
    width: 40px;
}
.exit{
  position: absolute;
  top: 2%;
  right: 10%;
}

.stackN {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stackN span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 1s ease infinite 1s alternate-reverse;
  }
  
  .stackN span:nth-child(odd) { --glitch-translate: 8px; }
  .stackN span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stackN {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 rgb(250, 212, 212), 2px -3px 0 rgb(77, 213, 255);
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 rgb(250, 212, 212), -2px 3px 0 rgba(255, 243, 77, 0.966);
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 rgb(250, 212, 212), 2px -3px 0 rgb(219, 77, 255);
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 rgb(250, 212, 212), -2px 3px 0 rgb(219, 77, 255);
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }


@media screen and (min-width: 991.98px){
    .stackN {
        display: grid;
        grid-template-columns: 1fr;
      }
      
      .stackN span {
        font-weight: bold;
        grid-row-start: 1;
        grid-column-start: 1;
        font-size: 1rem;
        --stack-height: calc(100% / var(--stacks) - 1px);
        --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
        --clip-top: calc(var(--stack-height) * var(--index));
        --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
        clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
        animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 1s ease infinite 1s alternate-reverse;
      }
      
      .stackN span:nth-child(odd) { --glitch-translate: 8px; }
      .stackN span:nth-child(even) { --glitch-translate: -8px; }
      
      @keyframes stackN {
        0% {
          opacity: 0;
          transform: translateX(-50%);
          text-shadow: -2px 3px 0 rgb(250, 212, 212), 2px -3px 0 rgb(77, 213, 255);
        };
        60% {
          opacity: 0.5;
          transform: translateX(50%);
        }
        80% {
          transform: none;
          opacity: 1;
          text-shadow: 2px -3px 0 rgb(250, 212, 212), -2px 3px 0 rgba(255, 243, 77, 0.966);
        }
        100% {
          text-shadow: none;
        }
      }
      
      @keyframes glitch {
        0% {
          text-shadow: -2px 3px 0 rgb(250, 212, 212), 2px -3px 0 rgb(219, 77, 255);
          transform: translate(var(--glitch-translate));
        }
        2% {
          text-shadow: 2px -3px 0 rgb(250, 212, 212), -2px 3px 0 rgb(219, 77, 255);
        }
        4%, 100% {  text-shadow: none; transform: none; }
      }
    
}
@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 0px;
        /* Height of navbar */
        bottom: 0;
        right: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        z-index: 10;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(100%);
        z-index: 10;
    }
}