@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "./helpers/variables";
@import "./helpers/tdComponent";
@import "./helpers/Navbar";
@import "./helpers/Carousel";
@import "./helpers/About";
@import "./helpers/Home";
@import "./helpers/Process";
@import "./helpers/ProductsList";

@mixin scrollbars(
  $size: 10px,
  $foreground-color: rgb(255, 2, 2),
  $background-color: transparent
) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

body {
    font-family: 'Open Sans', sans-serif;
    @include scrollbars;
    overflow: overlay
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}
p {
font-family: 'Open Sans', sans-serif;
}

